@model IEnumerable<BrazalesCamilo_PruebaProgreso1.Models.Celular>

@{
    ViewData["Title"] = "Celulares";
}

<h1>Lista Celulares</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-success">Crear Telefono</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CelularNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CelularNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                    <a type="button" class="btn btn-warning"  asp-action="Edit" asp-route-id="@item.Id_celular">Editar</a> |
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id_celular">Informacion</a> |
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_celular">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
