@model IEnumerable<BrazalesCamilo_PruebaProgreso1.Models.CBrazales>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tiene_trabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tiene_trabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular.CelularNombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_usuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_usuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_usuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
