@model IEnumerable<BrazalesCamilo_PruebaProgreso1.Models.CBrazales>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Lista Usuarios</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-success">Crear Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tiene_trabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tiene_trabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular.CelularNombre)
            </td>
            <td>
                    <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id_usuario">Editar</a> |
                    <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id_usuario">Informacion</a> |
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_usuario">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
